* {
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0px !important;
  padding: 0px !important;
}

.big-bg {
  background-color: #a9c5ca;
  padding-top: 100px;
  padding-bottom: 100px;
  height: 100vh;
}

.widget {
  background-color: white;
  border-radius: 15px;
  margin-top: 100px;
  box-shadow: 2px 2px 10px 1px rgba(100, 100, 100, 0.2);
}
.padd-me {
  padding-top: 14px;
  padding-bottom: 14px;
}
.dark-col {
  background-color: lightcoral;
  border-radius: 10px;
  padding: 30px;
  height: 100%;
}
#to-do-list-container {
  background-color: #0c424b;
}

.daily-tasks-header {
  color: #f3f3f3;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.18em;
  text-transform: uppercase;
}

.to-do-wrapper {
  display: flex;
  cursor: pointer;
}

.to-do-icon {
  margin-right: 10px;
}

.to-do-text {
  color: #f3f3f3;
}

#task-input-box {
  background-color: transparent;
  border: 0px;
  border-bottom: 1px solid #f3f3f3;
  padding: 10px 0px;
  color: #f3f3f3;
}

#task-input-box::placeholder {
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.65);
}

#task-submit-btn {
  cursor: pointer;
  margin-left: 10px;
  margin-bottom: -12px;
}

#day-of-month {
  font-size: 100px;
  line-height: 117px;
  letter-spacing: 0.03em;
  color: rgba(0, 0, 0, 0.37);
  margin: auto 0;
  margin-top: 20px;
}

#month {
  font-size: 48px;
  line-height: 56px;
  letter-spacing: 0.03em;
  color: #0c424b;
  margin: auto 0px;
}

#holiday {
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.03em;
  font-style: italic;
  color: #0c424b;
  margin: auto 0px;
  margin-top: 10px;
}

#quote-text {
  margin-top: 60px;
  font-size: 30px;
  line-height: 51px;
  letter-spacing: 0.03em;
  color: #000000;
}

#deco-line {
  border: 1px solid #ffaaa0;
  width: 55px;
  height: 0px;
  border-radius: 10px;
  margin-top: -22px;
}

#quote-author {
  font-style: italic;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.03em;
  color: #0c424b;
}

#weather-icon {
  display: block;
  margin: 0px auto;
}

#temp {
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.03em;
  color: #ffaaa0;
  font-style: bold;
  display: flex;
  justify-content: center;
  margin: 0px;
}

#temp-toggle {
  display: flex;
  justify-content: center;
  
}
.temp-txt {
    opacity: .5;
    margin: 0px;
    font-size: 14px;
    color: #ffaaa0;
    cursor: pointer;
}
#pipe {
  margin: 0px 5px;
  font-size: 14px;
  color: #ffaaa0;
  margin-left: 6px;
}
#temp-wrapper {
  display: flex;
  justify-content: center;
}
.temp-txt.active{
    opacity: 1;
}

/* classList.remove('active') */
/* classList.add('active') */


