body{
    margin: 0px !important;
    padding: 0px !important;
}

.big-bg {
    background-color: lightblue;
    padding-top: 100px;
    padding-bottom: 100px; 
    height: 100vh;
}

.widget {
    background-color: white; 
    border-radius: 15px;
}

.dark-col {
    background-color: lightcoral;
    border-radius: 10px;
    padding: 30px; 
    margin-top: 14px; 
    margin-bottom: 14px;
}